<form class="form" >
    <div *ngFor="let field of fields">
        <div class="form-group row">
            <label class="form-control-label mt-2" [attr.for]="field.name">
                {{field.name}}
            </label>
            <div class="mt-2" [ngSwitch]="field.group[0].type">
                <div *ngSwitchCase="'text'">
                    <input  class="form-control" id="textBox" type="text" required [name]="field.name" [formControl]="form.get(field.name)">
                </div>
                <div *ngSwitchCase="'select'">
                    <select class="form-select" aria-label="Default select example" [formControl]="form.get(field.name)" >
                        <option>--</option>
                        <option *ngFor="let value of field.group[0].valuesAllowed"  [value]="value.name">{{ value.name }}</option>
                    </select>
                </div>
                <div *ngSwitchCase="'checkbox'" >

                </div>
                <div *ngSwitchCase="'radio'">

                </div>
                <!-- <div class="alert alert-danger my-1 p-2 fadeInDown animated" *ngIf="!isValid && isDirty">{{field.label}} is required</div> -->
            </div>
            </div>
    </div>
    <br/>
    <br/> 
</form>